/*.App {
  text-align: center;
}*/
.Container-decorator{
  color: #fffff1;
  background-color: #a83232;

}

.Icon_right_corner{
  width: 40px;
  height: 40px;
}

.container_customized{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
