/*.App {
  text-align: center;
}*/
.Icon_right_corner{
  width: 40px;
  height: 40px;
}

.rowMargins{
  margin-top: 50px;
  margin-bottom: 40px
}

.bg-color{
  background-color: #fcfffe;
}

.col-aux{
    max-width: 200px
}

.imgLimit{
  max-height: 240px;
}

.align-right{
    max-width: 10%;
}

.cardMargins2{
  margin-top: 50px;
  margin-bottom: 10px;
  min-width: 1140px;
  max-width: 1140px;
}

.cardMargins{
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 1140px;
  max-width: 1140px;
}

.container_customized{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #56f442;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
